body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    border: 1px solid #333;
    padding: 0px 0; /* Reduced padding */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a::after { /* Divider */
    content: "|";
    margin-left: 20px;
}

nav ul li:last-child a::after { /* No divider after the last item */
    content: "";
}

main {
    margin: 20px;
}

section {
    margin-bottom: 20px;
}

form {
    margin-top: 10px;
}

input[type="file"] {
    display: block;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.image-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.resized-image {
    max-width: 30%;
    height: auto;
}